* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeon Sung', cursive;
}

ol,
ul,
li {
    list-style: none;
}

:root {
    /* color */
    --background-color-white1: rgb(225, 243, 255);
    --background-color-white2: white;
    --background-color-white3: #e9f5ff;
    --background-color-blue1: rgb(151, 191, 255);
    --background-color-blue2: rgb(200, 227, 255);
    --border-color-white1: rgb(202, 202, 202);

    /* size */
    /* font-size */
    --font-1rem: 1.3rem;
    --font-2rem: 2.5rem;

    /* width */
    --width-30rem: 30rem;
    --width-20rem: 20rem;
    --width-17rem: 17rem;
    --width-5rem: 5rem;
    --width-4rem: 4rem;

    /* height */
    --height-4rem: 4.5rem;

    /* margin */
    --margin-top-1rem: 1rem;
    --margin-bottom-1rem: 1rem;
    --margin-right-1rem: 1rem;

    /* padding */
    --padding-all-0rem: 0.5rem;
    --padding-all-1rem: 1rem;
    --padding-left-0rem: 0.5rem;

    /* border-radius */
    --border-radius-1rem: 1rem;
    --border-radius-0rem: 0.3rem;
}

/* main */
main {
    width: var(--width-30rem);
    margin: 0 auto;
    margin-top: var(--margin-top-1rem);
    padding: var(--padding-all-1rem);
    background-color: var(--background-color-white1);
    border-radius: var(--border-radius-1rem);
}

/* main title */
h3 {
    text-align: center;
    font-size: var(--font-2rem);
}

/* form section*/
.form_container {
    /* border: 1px solid red; */
    padding: var(--padding-all-0rem);
    margin-top: var(--margin-top-1rem);
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__input--wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-right: var(--margin-right-1rem);
    height: var(--height-4rem);
}

.form__input--name,
.form__textbox {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    font-size: var(--font-1rem);
}

#name,
#story {
    width: var(--width-17rem);
    padding-left: var(--padding-left-0rem);
    border: 1px solid var(--border-color-white1);
    border-radius: var(--border-radius-0rem);
}

.form__submit {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--width-5rem);
}

.form__submit input {
    height: var(--height-4rem);
    font-size: var(--font-1rem);
    border: none;
    border-radius: var(--border-radius-0rem);
    background-color: var(--background-color-blue1);
}


/* discussion section */
.discussion__wrapper {
    /* border: 1px solid red; */
    padding: var(--padding-all-0rem);
    margin-top: var(--margin-top-1rem);
}

.discussion__container {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-all-0rem);
    margin-bottom: var(--margin-bottom-1rem);
    border-radius: var(--border-radius-1rem);
    background-color: var(--background-color-white2);
    box-shadow: 0.3rem 0.3rem 0.5rem var(--background-color-blue2), -0.1rem -0.1rem 1rem var(--background-color-white3)
}

.discussion__container:last-child {
    margin-bottom: 0;
}

.discussion__avatar--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discussion__avatar--image {
    /* border: 1px solid red; */
    border-radius: 100%;
}

img {
    width: var(--width-4rem);
}

.discussion__content {
    /* border: 1px solid red; */
    width: var(--width-20rem);
}

.discussion__chat {
    font-size: var(--font-1rem);
}

.clock {
    display: inline-block;
}